@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark ;
 }

 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #093B40;
  --color-secondary: #D6B87A ;
}